<header>
<h1>Documents repo</h1>
	<navigation>
		<ul>
			<li>
				<%= link_to "Add", new_document_path %>
			</li>
		</ul>
	</navigation>
</header>
<nav class="menu">
	<span class="">Search Bar</span>
	<span class="">Documents</span>
	<span class="">Invoices</span>
	<span class="">Quotes</span>
	<span class="">Customers</span>
</nav>
<article>
	<h2> Current docs </h2>
	<% if @documents.any? %>
		<% @documents.each do |document| %>
			<section class="col-md-3">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Ref: <%= document.ref %></h3>
				  </div>
				  <div class="panel-body">
				    <%= document.status %>
				  </div>
				  <div class="panel-footer">
				  	<span class="edit_<%= document.ref %>">
				  		<%= link_to "Edit", edit_document_path(document) %>
				  	</span>
					<span class="delete_<%= document.ref %>">
						<%= link_to "Delete", document_path(document), method: :delete%>
					</span>
				  </div>
				</div>
			</section>
		<% end %>
		<% else %>
			Nothing yet buddy
	<% end %>	
</article>