<header>Documents repo</header>

<section class="container-fluid">
	<div class="row">

  	<article class="add-box">
  		<%= link_to "Add", new_document_path, class:"add-link" %>
      <%= render "documents/add" %>
  	</article>

    <ul class="list-group col-md-2">
    	<% if @documents.any? %>
    		<% @documents.each do |document| %>
        <article class="container-reviews-mustache"><%= render "layouts/documents" %></article>
    		  <li class="list-group-item">
    		    <%= document.ref %>
    			    <span class="pull-right">
    			    <%= link_to "", document_path(document), method: :delete, id: "delete_#{document.ref}", class: "fa fa-trash-o" %>
    			    <%= link_to "", edit_document_path(document), id: "edit_#{document.ref}", class: "fa fa-pencil-square-o" %>
    			    </span>
    		  </li>
    		  	<% end %>
    		<% else %>
    		Nothing yet buddy
    	<% end %>
    </ul>

    <section class="">
    	<article class="col-md-10">
      everything
          <% if @documents.any? %>
        <% @documents.each do |document| %>
        <%= document.status %>
         <%= image_tag document.pic.url(:thumb), class: "img_#{document.ref}" %>
          <% end %>
            <% end %>
    	</article>
    </section>

	</div>
</section>