<!DOCTYPE html>
<html>
<head>
  <title>Back2rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-app">
    <%= render "layouts/menu" %>
   	  <div class="main-content">
        <%= render "layouts/sidebar_button" %>
        <%= render "layouts/flash" %>
        <div class="content">
          <%= yield %>  
        </div>
    </div>
</div>
</body>
</html>
